.data-register-container {
    text-align: center;
  }
  
  .data-register-title {
    margin-bottom: 20px;
  }
  
  .process-steps {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .process-step {
    border: 2px solid #4CAF50;
    border-radius: 15px;
    padding: 20px;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }
  
  .process-arrow {
    font-size: 24px;
    color: #333;
  }
  
  .step-content p {
    margin: 0;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
  }
  
  .data-columns-container {
    display: flex;
    justify-content: flex-start; /* Changed to flex-start to align children to the start */
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20px; /* Adding padding to ensure "+" button does not stick to the side */
  }

  .add-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    background-color: #4CAF50;
    color: white; 
    font-size: 24px;
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
    cursor: pointer;
    border: none; 
    outline: none; 
  }

  .data-column {
    margin: 10px;
    padding: 20px;
    flex: 1;
    min-width: 150px;
    max-width: 300px;
  }
  
  .data-column button {
    background-color: #f44336; /* A red color for visibility */
    color: white; /* White text for contrast */
    padding: 10px 24px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    outline: none; /* Removes the outline */
    margin-top: 10px; /* Add some space above the remove button */
    width: 100%; /* Make the button full width */
  }
  .process-step button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    outline: none; /* Optional: removes the outline */
  }

  