.data-detail-container {
  font-family: 'Arial', sans-serif;
  color: #333;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff; /* 밝은 배경색 */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title, .subtitle {
  color: #007bff; /* 밝은 파란색 계열 */
  margin-bottom: 10px;
}

.info {
  font-size: 1.1rem;
  line-height: 1.8;
  padding: 5px 0;
  border-bottom: 1px solid #eeeeee; /* 연한 회색 */
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

.data-table th, .data-table td {
  border: 1px solid #eeeeee; /* 연한 회색 */
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #007bff; /* 밝은 파란색 계열 */
  color: white; /* 흰색 텍스트 */
  font-weight: bold;
}

.data-table tr:nth-child(even) {
  background-color: #f8f9fa; /* 매우 연한 회색 */
}

.data-table tr:hover {
  background-color: #e2e6ea; /* 연한 회색 */
}

.term-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.term-item {
  background: #f8f9fa; /* 매우 연한 회색 */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
}

.loading, .error {
  font-size: 1.2rem;
  color: #dc3545; /* 강렬한 빨간색 */
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.error {
  background-color: #f8d7da; /* 연한 빨간색 */
  border-radius: 5px;
}

.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-info {
  width: 30%;
}

.terms-section {
  width: 70%;
}
